@use '~styles/mixins' as mixins;
@import '~styles/variable';

// header
.header-wrapper {
    @include mixins.flex(center, center);
    height: $header-height;
    width: 100%;
    background-color: #fff;
}
.header {
    @include mixins.flex(center, space-between);
    width: 100%;

    // search
    &__search {
        .form__search {
            position: relative;
            display: flex;
            background: rgba(22, 24, 35, 0.06);
            border-radius: 999px;
            overflow: hidden;
            border: 1px solid transparent;

            input,
            button {
                background-color: transparent;
                color: #666;
                height: $header-search-height;
            }

            input {
                flex: 1;
                padding-left: 18px;
            }

            button {
                padding: 0 16px 0 14px;
            }

            button:hover {
                background-color: rgba(22, 24, 35, 0.03);
            }

            &::before {
                content: '';
                position: absolute;
                width: 1px;
                height: calc($header-search-height - 16px);
                background-color: rgba(22, 24, 35, 0.12);
                right: 46px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:focus-within {
                border-color: rgb(197, 198, 201);
            }
        }
    }
}

//footer
#footer {
    border-top: 3px solid #ddd;
}

.footer-wrapper {
    margin-top: 2rem;

    .title-group {
        font-size: 0.9rem;
        font-weight: bold;
        text-decoration: underline;
    }

    .list-group {
        li {
            font-size: 0.9rem;
            font-weight: 400;
            padding-top: 10px;
        }
    }
}
