@use '~/styles/mixins';
@import '~/styles/variable';

.side-bar {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0.1rem 0.25rem rgb(0 0 0 / 8%);
    z-index: 10;
    border-right: 1px solid rgba(108, 117, 125, 0.25);

    .logo {
        width: 90%;
        height: 90px;
        position: relative;
    }
}

.menu-aside {

    &__item {
        position: relative;
        
        cursor: pointer;
        width: 100%;
        border-radius: 4px;

        &:hover {
            background: #e9ecef;

            .menu-aside__item__inner {
                color: $secondary-color;
            }
        }

        &.active {
            background-color: #ebf0fd;
        }

        &__inner {
            color: #333;
            display: block;
            padding: 10px;
            margin: 4px 0;
            span {
                margin-left: 20px;
            }
            
            .main-menu-item {
                @include mixins.flex(center, flex-start);
                position: relative;
    
                .right-icon {
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    transform: translateY(-50%)
                }
            }

            .sub-menu-item {
                width: 100%;
                height: auto;
                overflow: hidden;
                height: 0;

                &.active {
                    height: auto;
                    margin-top: 6px;
                }

                a {
                    display: block;
                    text-align: start;
                    padding: 5px;
                    margin-left: 50px;
                }
            }
        }
    }
}