@use "~/styles/mixins";
@import "~/styles/variable";

.checkout-top {
    @include mixins.flex(center, space-between);
    color: $text-color;
    margin: 20px 0 10px 0;
}

.back {
    a {
        @include mixins.flex(center, center);
        text-decoration: none;
        color: $primary-color;
    }
}
