.footer-wrapper {
    margin-top: 2rem;
    
    .title-group {
        font-size: 0.9rem;
        font-weight: bold;
        text-decoration: underline;
    }

    .list-group {
        li {
            font-size: 0.9rem;
            font-weight: 400;
            padding-top: 10px;
        }
    }
}