@use '~/styles/mixins';
@import '~/styles/variable';

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: $text-color;
    padding: 10px;
}

.wrapper {
    display: flex;
    margin: auto;
    padding: 14px 16px;
    border-radius: 6px;
    width: 60%;
    background-color: #fff;

    form {
        width: 100%;
        text-align: end;

        img {
            border: 1px solid #ccc;
            margin: 0 2px;
        }
    }
    
    .form-group {
        margin-bottom: 20px;

        input, select {
            max-width: 450px;
            margin-left: auto;
        }
    }
}