@use '~/styles/mixins';
@import '~/styles/variable';

.slide-wraper {
    width: 100%;
    border: 1px solid #999;
};

.slide-item {
    display: flex;
    flex: 1 0 100%;
    position: relative;

    .img-slide {
        position: relative;
        width: 100%;
        height: 400px;
    }
}

.magnify-lens {
    position: absolute;
    height: 40%;
    width: 40%;
}

.magnify {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: zoom-in;
}

.img-list {
    @include mixins.flex(center, flex-start);
    margin: 10px;

    &__item {
        position: relative;
        width: 90px;
        height: 90px;
        display: flex;
        border: 1px solid #999;
        margin-right: 10px;
        cursor: pointer;

        &.active {
            border: 1px solid $primary-color;
        }
    }
};
