@use "~/styles/mixins";

.wrapper {
    width: 100%;
    min-height: 100px;
    height: auto;
    position: relative;
    overflow: hidden;
}

.slide-btn {
    @include mixins.flex(center, center);
    position: absolute;
    width: 22px;
    height: 40px;
    cursor: pointer;
    border-radius: 2px;
    z-index: 1;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    button {
        background-color: transparent;
    }

    &.next {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &.prev {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.slide-wrapper {
    display: flex;
}
