@use '~/styles/mixins';

.filter-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.filter-group {
    padding-left: 10px;
    border-bottom: 1px solid #999;

    h4 {
        margin-top: 16px;
        margin-bottom: 6px;
        font-size: 0.9rem;
        font-weight: 600;
    }

    .input-group {
        @include mixins.flex(center, space-between);
        width: 100%;
    }
    
}
