@use '~/styles/mixins';
@import '~/styles/variable';

.product-checkout {
    @include mixins.flex(flex-start, flex-start);
    position: relative; 
    padding: 14px 40px 14px 14px;
    min-height: 120px;
    border-bottom: 1px solid #ccc;

    .img-product-checkout {
        position: relative;
        width: 100px;
        height: 100px;
    }

    .product-info {
        margin-left: 20px;

        h3 {
            font-size: 0.9rem; 
            font-weight: 600;
            color: $text-color;
        }

        &__price {
            font-size: 1rem; 
            color: #c10017;
            padding: 4px 0;
            margin: 6px 0;
        }

        &__quantity {
            @include mixins.flex (center, flex-start);
            p {
                color: #666;
                font-size: 0.9rem;
                margin-right: 10px;
            }

            span {
                color: $text-color;
                font-size: 1rem;
                margin: 0 6px;
            }

            button {
                border-radius: 50%;
                border: solid 1px #ffa40d;
                color: #ffa40d;
                text-align: center;
                width: 16px;
                height: 16px;
                padding: 0;
                line-height: 12px;
                background: #fff;

                &:hover {
                    transform: scale(1.2)
                }
            }
        }
    }

    .remove-icon {
        position: absolute;
        top: 10%;
        left: 93%;
        cursor: pointer;
        &:hover {
            transform: scale(1.2)
        }
    }
}