@use "~/styles/mixins";
@import "~/styles/variable";

.button-wrapper {
  @include mixins.flex(center, space-between);
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button-title {
  font-size: 1rem;
  text-align: center;
}

// price box
.price-box {
  @include mixins.flex(flex-start, center);
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;

  .price-box__product {
    P {
      font-size: 0.9rem;
    }
    strong {
      margin-left: 6px;
      color: #d0021b;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  .price-box__item {
    padding: 5px 0;

    a {
      text-decoration: none;
      color: $secondary-color;
      &:hover {
        color: $secondary-light-color;
      }
    }

    p {
      font-size: 0.9rem;
    }
  }
}

// contact box
.contact-box {
  width: 100%;
  height: auto;
  min-height: 100px;
  border: 1px solid #ccc;
}
