.policy-box {
    margin: 10px 0;
    width: 100%;
    height: auto;
    min-height: 100px;
    border: 1px solid #ccc;
}

.store-info {
    width: 100%;
    height: auto;
    min-height: 100px;
    border-radius: 4px;
    border: 1px solid #e67e22;
}