@use '~/styles/mixins';
@import '~/styles/variable';


.title {
    padding: 20px 0;
    font-size: 2rem;
    font-weight: 500;
}

.product-list {
    padding: 20px;
    background-color: #fff;
}

.product-item {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    min-height: 100px;

    &:hover {
        background-color: rgba(49, 103, 235, 0.075);
        cursor: pointer;
    }

    img {
        width: 60px;
        height: 60px;
        padding: 0.25rem;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        box-shadow: 0 0.1rem 0.25rem rgb(0 0 0 / 8%);
        max-width: 100%;
    }

    .align-center {
        @include mixins.flex (center, flex-start);
    }

    .btn-more {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        height: 40px;
        width: 40px;
        border: 1px solid rgba(108, 117, 125, 0.25);
        border-radius: 4px;
        background-color: #fff;
        transition: all 100ms linear;

        &:hover {
            border-color: #999;
        }
    }

    .dropdown {
        padding: 4px 0;
        position: absolute;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0.25rem;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
        top: 72%;
        right: 1%;
        width: auto;
        z-index: 1;

        li {
            padding: 2px 26px 2px 14px;
            color: $text-color;

            &:hover {
                background-color: #f8f9fa;
            }
        }
    }

}