.slide-wraper {
    width: 100%;
    border: 1px solid #999;
};

.slide {
    height: 450x;
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.slide-item {
    position: relative;
}

.img-zoom {
    position: absolute;
    transform: scale(1.5);
    opacity: 0;
    top: 0;
    left: 0;
    &:hover {
        opacity: 1;
        cursor: zoom-in;
    }
}