// header
$header-height: 50px;
$header-search-height: 40px;

$special-box: #ef5918;

$primary-color: #ee4d2d;
$primary-light-color: rgb(255 238 233);

$secondary-color: #337ab7;
$secondary-light-color: rgb(69, 147, 214);

$base-color: #ee4d2d;

$text-color: #333;
