@use '~/styles/mixins' as mixins;

.sort-wrapper {
    @include mixins.flex (center, flex-end);
    padding: 12px 8px 12px 0;
    font-size: 0.9rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc;

    h5 {
        margin-right: 10px;
    };
}

.sort-item {
    @include mixins.flex (center, center);
    margin-right: 14px;
}